// COLORS

$primari-color: #333333;
$primari-white: #ffffff;
$primari-yellow: #fce38a;
$primari-black: #000;
$primari-pink:#F38181;
$primari-light: #999999;
$primari-gray: #E5E5E5;
$primari-light_gray: #E7E7E7;
$color-grey: #CCCCCC;
$primari-blue: #95E1D3;


// FONTS

$font-base: 'Montserrat', sans-serif;
$font-accessory: 'Roboto', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;

